@{
    ViewData["Title"] = "Login/Registration";
}

<div class="text-center">
    <h1 style="margin:2.5%;">Welcome to the Activity Center</h1>
    <!-- Login -->
    <div>
        <partial name="LoginPartial">
    </div>
    <!-- Register -->
    <div>
        <partial name="RegistrationPartial">
    </div>
</div>
