<div>
    @model User
    <form asp-controller="Home" asp-action="Register">
      <div style="display:flex;">
        <!-- Left Half -->
        <table>
          <thead>
            <tr>
              <th><h2>Register</h2></th>
            </tr>
          </thead>
          <tbody>
            <!-- First Name -->
            <tr>
              <td>
                <label asp-for="FirstName"></label>
              </td>
              <td>
                <input type="text" asp-for="FirstName">
                <span asp-validation-for="FirstName"></span>
              </td>
            </tr>
            <!-- Last Name -->
            <tr>
              <td>
                <label asp-for="LastName"></label>
              </td>
              <td>
                <input type="text" asp-for="LastName">
                <span asp-validation-for="LastName"></span>
              </td>
            </tr>
            <!-- Email -->
            <tr>
              <td>
                <label asp-for="Email"></label>
              </td>
              <td>
                <input type="email" asp-for="Email">
                <span asp-validation-for="Email"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Password Half -- Right -->
        <table style="margin-left: 10%;">
            <thead>
                <tr>
                  <th><h2> <br></h2></th>
                </tr>
              </thead>
          <tbody>
            <!-- Password -->
            <tr>
              <td>
                <label asp-for="Password"></label>
              </td>
              <td>
                <input 
                  type="password" 
                  asp-for="Password"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                  >
                  <p>
                    <span asp-validation-for="Password"></span>
                  </p>
              </td>
            </tr>
            <!-- Password -->
            <tr>
              <td>
                <label asp-for="Confirm"></label>
              </td>
              <td>
                <input type="password" asp-for="Confirm">
                <span asp-validation-for="Confirm"></span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input type="submit" value="Register">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>